<div class="container mt-10">
    <form action="/answer">
      <div class="form-group justify-content-center">
          <label for="question">Ask your coach anything</label>
          <input type="text" id="question" name="question" placeholder="what time is it?" class=>
      </div>
          <input type="submit" value="Ask!" class="btn btn-primary btn-lg">
    </form>
</div>
